body{
    background-color: #343131;
    color: white;
}
section{
    padding: 50px 30px;
}
#top, #mid, #bottom{
  background-color: #3f3b3b;
  border-radius: 10px;
  margin: 10px;
}
h1, h4{
    color: #EEDF7A;
}
/*top*/
#intro{
    text-align: center;
}
#intro p{
    color: #D8A25E;
}
header{
    font-weight: bold;
    padding-top: 70px;
}
header nav{
    background-color: #343131;
    position: fixed;
    top: -50px;
    display: block;
    transition: top 0.3s;
}
header nav a{
    margin: 0 10px;
    float: left;
    display: block;
    text-align: center;
    font-size: 17px;
    color: white;
    text-decoration: none;
}
header nav a:hover{
    background-color: #A04747;
    color: #343131;
    border-radius: 3px;
}
.navbar {
    transition: top 0.4s;
}
/*mid*/
#mid p{
    color: #D8A25E;
}
#mid footer{
    color: #ca6060;
}
#mid img{
    max-width: 25%;
    border-radius: 10px;
    margin-bottom: 15px;
}
@media screen and (max-width: 800px){
    #mid img{
        max-width: 95%;
        border-radius: 10px;
        margin-bottom: 15px;
    }
}

/*bottom*/
#bottom{
    background-color: #A04747;
}
#mostrarcandidatura{
    display: none;
}
#dropdownMenuButton{
    width: 70px;
}

/*footer*/
#foot{
    color: white;
    text-align: center;
    align-items: center;
    font-size: 12px;
}
#address{
    text-align: left;
}
footer h3{
    color: #D8A25E;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: #EEDF7A;
    text-decoration: underline;
    font-weight: bold;
}
footer ul{
    list-style: none;
    padding: 0;
}
footer li{
    margin-bottom: 5px;
}

@media screen and (max-width: 800px){    
    #foot{
        text-align: center;
    }
    #address{
        text-align: center;
    }
}

/*modal*/
.modal-content{
    background-color: #343131;
}
.modal p{
    color: #D8A25E;
}